In [ ]:
print("")

In [ ]:
#importing pandas
import pandas as pd

In [ ]:
#get
df=pd.read_csv("orders.csv",na_values=['Not Available', 'unknown'])

In [ ]:
df.head(10)

In [ ]:
df.info

In [ ]:
df["Ship Mode"].unique()

In [ ]:
df.columns=df.columns.str.lower()
df.columns

In [ ]:
df.columns=df.columns.str.replace(" ","_")
df.columns

In [ ]:
df.head()

In [ ]:
df["discount"]=df["list_price"]*df["discount_percent"]*.01

In [ ]:
df["sale_price"]=df["list_price"]-df["discount"]
df["profit"]=df["sale_price"]-df["cost_price"]

In [ ]:
df["order_date"]=pd.to_datetime(df["order_date"],format="%Y-%m-%d")

In [ ]:
df.describe

In [ ]:
df.shape

In [ ]:
df.dtypes

In [ ]:
#drop columns if unnecessry
df.drop(columns=['list_price','discount_percent','cost_price'],inplace=True)

In [ ]:
#check for duplicate values
df.duplicated().sum()

In [ ]:
#check for null values
df.isnull().sum()

In [ ]:
from sqlalchemy import create_engine

engine = create_engine(
    "mssql+pyodbc://LAPTOP-LRPEHVQH\\SQLEXPRESS/master?driver=ODBC+Driver+17+for+SQL+Server"
)
conn=engine.connect()

In [ ]:
con=engine.connect()

In [ ]:
df.to_sql('df_orders', con=conn , index=False, if_exists = 'append')